* {
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --primary-color: #dd3838;
  --secondary-color: #db6060;
  --text-color: #fff;
  --black-color: black;
  --gray-background: rgb(225, 225, 225);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.bold {
  font-weight: bold;
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  width: 200px;
  background: var(--black-color);
}

.navbar-logo img {
  object-fit: contain;
  width: 100%;
}

.navbar-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  width: 30px;
  aspect-ratio: 1/1;
}

.navbar-button {
  width: 30px;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: var(--black-color);
}

.navbar-button i {
  padding: 5px;
  aspect-ratio: 1/1;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
  }

  .navbar-links.active {
    display: flex;
    padding-bottom: 10px;
  }

  .navbar-toggle {
    display: block;
  }

  .sub-navbar {
    display: none !important;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: black;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content div {
  display: block;
  text-decoration: none;
  background: black;
  color: white;
}

.dropdown-content div:hover {
  background-color: red;
  color: white;
}

.login-button {
  display: flex;
  height: 30px;
  width: 85px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
}

.login-button i {
  padding: 12px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.search-icon {
  padding: 5px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  border: 1px solid black;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}

.searchbar input {
  width: 70%;
}

.searchbar input:focus-visible {
  border: none;
  outline: none;
}

.sub-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  gap: 50px;
  flex-wrap: wrap;
  background-color: rgb(45, 43, 43);
  color: var(--text-color);
  padding-left: 75px;
}

/* Yaha milegi apne ghar ki best deal  */
.bestdeal-section {
  margin-top: 20px;
}

.bestdeal-container {
  height: 120vh;
}

.bestdeal-background {
  background-repeat: no-repeat;
  background-size: cover;
}

.bestdeal-background img {
  object-fit: fill;
  width: 100%;
}

/* .bestdeal-background::before {
  content: "";
  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(240, 52, 52, 1) 0%,
    transparent 100%
  );
  z-index: 1;
} */

.bestdeal-parent-container {
  display: flex;
  flex-direction: column;
  gap: 120px;
  z-index: 2;
  position: relative;
}

.homepage-title-search {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
}

/* project spotlight css  */
.spotlight-container {
  display: flex;
  flex: wrap;
  position: relative;
  margin: 25px;
}

.spotlight-firsthalf {
  object-fit: contain;
  flex: 1;
  background: rgb(242, 221, 224);
}

.spotlight-secondhalf {
  flex: 1;
}

.spotlight-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  background-color: black;
  color: var(--text-color);
}

.spotlight-secondhalf img {
  object-fit: fill;
  width: 100%;
  height: 400px;
}

.spotlight-row1 {
  display: flex;
  padding: 30px 0px 30px 30px;
  flex-direction: column;
}

.spotlight-row1-heading {
  font-size: 40px;
  font-weight: bold;
}

.spotlight-row1-subheading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.spotlight-row1-img {
  width: 20px;
}

.spotlight-inner-div1 {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
}

.spotlight-inner-div2 {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
}

.spotlight-building-info-inner {
  display: flex;
  justify-content: flex-start;
}

.spotlight-building-info-outer {
  display: flex;
  padding: 0px 60px;
}

.spotlight-building-info-inner img {
  width: 40px;
  height: 40px;
}

.spotlight-building-info-details {
  padding-left: 20px;
}

.spotlight-middle-image-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100px;
  height: 400px;
  left: 47%;
}

.spotlight-middle-images {
  width: 90px;
  aspect-ratio: 1/1;
  object-fit: fill;
  /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); */
  border-radius: 20px;
}

.spotlight-middle-images img {
  width: 100%;
  object-fit: fill;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* Top developers CSS */

.top-devs-section {
  background: var(--gray-background);
  margin-top: 20px;
}

.top-devs-heading {
  padding: 10px 0px 10px 5%;
  font-size: 2.5rem;
  font-weight: bold;
}

.top-devs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 100px;
}

.top-devs-card {
  width: 10%;
  aspect-ratio: 1/1;
  /* border-radius: 50%;
  box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.2); */
}

.top-devs-card img {
  width: 100%;
  object-fit: fill;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .top-devs-container {
    padding: 20px 0px;
  }
}

/* Find dreamhome css  */

.dreamhome-section {
  margin-top: 25px;
  background: var(--gray-background);
  padding-bottom: 50px;
}

.dreamhome-heading {
  padding: 10px 0px 20px 5%;
  font-size: 2.5rem;
  font-weight: bold;
}

.dreamhome-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
}

.dreamhome-city-card {
  display: flex;
  width: 20%;
  aspect-ratio: 10/12;
  border-radius: 10px;
  position: relative;
}

.dreamhome-city-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: fill;
}

.dreamhome-shadow-overlay {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--text-color);
  font-weight: bold;
}

/* Trending projects css  */

.trending-page-outer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.tredning-page-heading {
  padding: 10px 0px 20px 5%;
  font-size: 2.5rem;
  font-weight: bold;
}

.trending-page-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin: 35px; */
  /* gap: 100px; */
  flex-wrap: wrap;
}

.trending-page-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50%; */
}

.trending-location-logo {
  width: 25px;
  aspect-ratio: 1/1;
}

.trending-card {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 5px;
  /* border: solid black 2px; */
  border-radius: 10px;
  background: whitesmoke;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 280px;
}

.trending-page-img-div img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 5px;
}

.row-container {
  padding: 15px 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trending-data-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending-data-row2 {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trending-data-row3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  line-height: 2rem;
}

.book-site-button {
  border-radius: 4px;
  border: none;
  width: 200px;
  margin: auto;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 12px;
}

.book-site-button:hover {
  background-color: #db6060;
}

.slider-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* newly launched properties CSS */
.newly-launched-gallery-card {
  display: flex;
  position: relative;
}

.overlay-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.overlay-card-container {
  position: relative;
  border-radius: 2px;
}

.overlay-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  transform: rotate(0.75turn);
  color: #fff;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.developer-logo {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 115px;
  top: 110px;
}

.developer-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.newly-launched-heading {
  padding: 10px 0px 10px 5%;
  font-size: 2.5rem;
  font-weight: bold;
}

.newly-launched-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  flex-wrap: wrap;
}

.newly-launched-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.newly-launched-card {
  border-radius: 10px;
  background: whitesmoke;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 350px;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.newly-launched-img-div img {
  width: 100%;
  height: 250px;
  object-fit: fill;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.row-container {
  padding: 15px 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newly-launched-row1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
  flex-direction: column;
}

.newly-launched-row2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
  flex-direction: column;
}

.newly-launched-row3 {
  display: flex;
  align-items: center;
  line-height: 2rem;
}

.contact-button {
  border-radius: 4px;
  border: none;
  width: 200px;
  margin: auto;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 12px;
}

.contact-button:hover {
  background-color: #db6060;
}

.image-contain {
  width: 15px;
  height: 15px;
  object-fit: cover;
  overflow: hidden;
}

/* About us CSS  */
.black-background {
  background-color: black;
  color: white;
}

.about-us-card-container {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  margin-top: 45px;
}

.about-us-logo {
  width: 200px;
  object-fit: fill;
}

.about-us-inner-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-us-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.follow-us-img img {
  width: 20px;
  padding: 2px;
}
