:root {
  --primary-color: #dd3838;
  --secondary-color: #db6060;
  --text-color: #fff;
}

.generic-bold {
  font-weight: bold;
}

.slider-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  border: 1px solid black;
  padding: 18px;
  background: #fff;
  border-radius: 10px;
}

.image-contain {
  width: 15px;
  height: 15px;
  object-fit: cover;
  overflow: hidden;
}

.equal-section {
  flex: 1;
}

body {
  margin: 0;
  align-content: space-around;
  font-family: "Roboto";
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 12px;
}

p {
  margin: 0;
}

.newly-launched-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.newly-launched-heading {
  font-size: 34px;
  margin-top: 5%;
}

.newly-launched-main {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 35px; */
  gap: 100px;
  flex-wrap: wrap;
}

.newly-launched-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.newly-launched-card {
  /* display: flex;
    justify-content: center;
    align-items: center;
  padding: 5px;
  border: solid black 2px; */
  border-radius: 10px;
  background: whitesmoke;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 300px;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.newly-launched-img-div img {
  width: 100%;
  height: 250px;
  object-fit: fill;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.row-container {
  padding: 15px 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newly-launched-row1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
  flex-direction: column;
}

.newly-launched-row2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
  flex-direction: column;
}

.newly-launched-row3 {
  display: flex;
  align-items: center;
  line-height: 2rem;
}

.contact-button {
  border-radius: 4px;
  border: none;
  width: 200px;
  margin: auto;
}

.slider-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dream Home page css */

.dreamhome-page-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dreamhome-heading {
  font-size: 34px;
  margin-top: 5%;
}

.dreamhome-inner-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}

.dream-smaller-div {
  display: flex;
  flex: 1; /* Takes up 1/3 of the available space */
  min-width: 0;
  padding: 10px;
  width: 200px;
}

.dream-bigger-div {
  display: flex;
  flex: 2; /* Takes up 2/3 of the available space */
  min-width: 0;
  padding: 10px;
  width: 500px;
}

.dream-images {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.shadow-overlay {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.newly-launched-gallery-card {
  display: flex;
  position: relative;
}

.overlay-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.overlay-card-container .overlay-card {
  position: relative;
  border-radius: 2px;
}

.overlay-card img {
  transform: rotate(0.75turn);
}

.overlay-card .overlay-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  transform: rotate(0.75turn);
  color: #fff;
}

.overlay-card .text {
  font-size: 32px;
  font-weight: 700;
  transform: rotate(0.25turn);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.developer-logo {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 95px;
  top: 110px;
}

.developer-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
